.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 50px;
  color: #ffffff;
}

/* Header */
.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 28px;
  color: #0d47a1;
  font-weight: 600;
}

.addBtn {
  background-color: #2a26ff;
  color: #ebf1ff;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.addBtn:hover {
  background-color: #1b1ad0;
}

/* Lista de Posts */
.postList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 22px;
  margin-top: 20px;
  padding: 10px;
}

/* Loading y Error */
.loading,
.error {
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.9;
}

/* Paginación */
.pagination {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

/* Botones numéricos */
.pageBtn {
  background: #d3e7ff;
  border: 2px solid #2a26ff;
  padding: 7px 13px;
  border-radius: 6px;
  color: #2a26ff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  margin: 0 4px; /* Separación extra */
}

/* Hover */
.pageBtn:hover:not(.activePage) {
  background-color: #c0dbff;
  transform: scale(1.06);
}

/* Página activa */
.activePage {
  background: #2a26ff;
  border-color: #2a26ff;
  color: white;
  font-weight: 700;
  box-shadow: 0px 0px 10px rgba(44, 44, 61, 0.6);
  transform: scale(1.12);
}

/* Botones Anterior / Siguiente */
.pagination button {
  background: #2a26ff;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.25s ease, transform 0.2s;
  margin: 0 6px;
}

.pagination button:hover:not(:disabled) {
  background-color: #16158a;
  transform: scale(1.05);
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* ------------------- */
/* RESPONSIVE PAGINATION */
/* ------------------- */

@media (max-width: 900px) {
  .pageNumbers {
    display: none;
  }

  .pagination {
    gap: 26px; /* más separación en mobile */
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .addBtn {
    width: 100%;
    max-width: 240px;
  }
}
