.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
}
.navbar{
    background-color: #0d47a1;
    padding: 10px 5px;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: fit-content;
    justify-self: center;
}