.navbar {
  height: 15dvh;
  width: 100%;
  padding: 25px 5rem;
  background-color: #0e0d3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  z-index: 10;
}

/* LINKS */
.links {
  display: flex;
  gap: 22px;
}

.link {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  font-size: 16px;
  transition: 0.15s ease-in-out;
}

.link:hover {
  color: white;
}

.linkActive {
  font-weight: 700;
  color: white;
  border-bottom: 2px solid white;
}

/* ------------------- */
/* RESPONSIVE DESIGN */
/* ------------------- */

/* Tablets */
@media (max-width: 900px) {
  .navbar {
    padding: 20px 2rem;
  }

  .link {
    font-size: 15px;
  }
}

/* Mobile Landscape / Large Phones */
@media (max-width: 650px) {
  .navbar {
    padding: 18px 1.5rem;
    height: auto;
    flex-direction: column;
    gap: 8px;
  }

  .links {
    gap: 15px;
  }
}

/* Small Phones */
@media (max-width: 420px) {
  .navbar {
    padding: 14px 1rem;
  }

  .link {
    font-size: 14px;
  }

  .links {
    gap: 10px;
  }
}
