.navbar {
    height: 15dvh;
  width: 100%;
  padding: 25px 5rem;
  background-color: #0e0d3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 1px solid rgb(255, 243, 243);
  z-index: 10;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  color: rgba(255,255,255,0.85);
  text-decoration: none;
  font-size: 16px;
}

.linkActive {
  font-weight: 600;
  color: white;
  border-bottom: 2px solid white;
}
