.container {
    width: 100%;
    min-height: 85dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #020024;
    gap: 0;
    background: linear-gradient(2deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.title {
    font-size: 40px;
    font-weight: 800;
    color: white;
    z-index: 10;
}

.description {
    font-size: 18px;
    opacity: 0.9;
    color: white;

    margin-bottom: 30px;
}

.button {
    background-color: #2a26ff;
    color: #ebf1ff;
    padding: 14px 26px;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    z-index: 10;
}

.button:hover {
    background-color: #09306e;
}
